.leaflet-popup-content{
    margin: 0;
    border-radius: 12px;
    height: 320px;
    overflow: hidden;
    
    
}
.leaflet-popup-content:hover {
    overflow-y: scroll;
  }
.leaflet-popup-content-wrapper{
    padding: 0;
}

.leaflet-popup{
    width: 350px;
}